{% extends 'index.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Search News</h1>
        <form method="POST" action="{{ url_for('search') }}">
            {{searchform.hidden_tag()}}
            <div class="mb-3">
                <label for="keyword" class="searchform-label">keyword：</label>
                {{searchform.search(class="form-control")}}
            </div>
            <div class="mb-3">
                {{ searchform.submit(class="btn btn-primary") }}
            </div>
        </form>

        <div class="mt-4">
            <h3>Result</h3>
            {% if error_message %}
                <div class="alert alert-danger">{{ error_message }}</div>
            {% endif %}
            {% if news %}
                {% for article in news %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ article['title'] }}</h5>
                            <p class="card-text">{{ article['description'] }}</p>
                            <a href="{{ article['url'] }}" class="btn btn-secondary" target="_blank">Read more</a>
                             <button class="btn btn-info" onclick="copyToClipboard('{{ article['url'] }}')">Copy URL</button>
                        </div>
                    </div>
                {% endfor %}

                    {% endif %}
        </div>
    </div>
        <script>
        function copyToClipboard(url) {
            // Create a temporary textarea element to hold the URL
            var tempInput = document.createElement('textarea');
            tempInput.value = url;
            document.body.appendChild(tempInput);

            // Select the text and copy it to the clipboard
            tempInput.select();
            tempInput.setSelectionRange(0, 99999); // For mobile devices
            document.execCommand('copy');

            // Remove the temporary element after copying
            document.body.removeChild(tempInput);

            // Optionally alert the user
            alert('URL copied');
        }
    </script>
    
{% endblock %}
